allennlp==2.4.0
allennlp-models==2.4.0
antlr4-python3-runtime==4.8
appdirs==1.4.3
atomicwrites==1.1.5
attrs==19.3.0
Automat==0.8.0
beautifulsoup4==4.8.2
blinker==1.4
blis==0.7.4
boto3==1.17.84
botocore==1.20.84
breezy==3.0.2
catalogue==2.0.4
certifi==2019.11.28
cffi==1.14.5
chardet==3.0.4
click==7.1.2
cloud-init==21.1
colorama==0.4.3
command-not-found==0.3
configobj==5.0.6
configparser==5.0.2
conllu==4.4
constantly==15.1.0
cryptography==2.8
cupshelpers==1.0
cycler==0.10.0
cymem==2.0.5
Cython==0.29.23
dataclasses==0.6
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
Deprecated==1.2.7
distlib==0.3.0
distro==1.4.0
distro-info===0.23ubuntu1
docker-pycreds==0.4.0
dot2tex==2.11.3
dulwich==0.19.15
entrypoints==0.3
et-xmlfile==1.0.1
fail2ban==0.11.1
fairseq==0.10.2
fastimport==0.9.8
filelock==3.0.12
ftfy==6.0.3
gitdb==4.0.7
GitPython==3.1.17
gpg===1.13.1-unknown
h5py==3.2.1
html5lib==1.0.1
httplib2==0.14.0
huggingface-hub==0.0.9
hydra-core==1.0.6
hyperlink==19.0.0
idna==2.8
importlib-metadata==1.5.0
importlib-resources==5.1.2
incremental==16.10.1
iotop==0.6
jdcal==1.0
Jinja2==2.10.1
jmespath==0.10.0
joblib==0.14.0
jsonnet==0.17.0
jsonpatch==1.22
jsonpointer==2.0
jsonschema==3.2.0
keyring==18.0.1
kiwisolver==1.0.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lmdb==1.2.1
lxml==4.5.0
macaroonbakery==1.3.1
MarkupSafe==1.1.0
matplotlib==3.1.2
mock==3.0.5
more-itertools==4.2.0
murmurhash==1.0.5
mysqlclient==1.4.4
netifaces==0.10.4
networkx==2.4
nltk==3.4.5
nose==1.3.7
numexpr==2.7.1
numpy==1.20.3
oauthlib==3.1.0
olefile==0.46
omegaconf==2.0.6
openpyxl==3.0.3
overrides==3.1.0
packaging==20.3
pandas==1.2.4
pathtools==0.1.2
pathy==0.5.2
pbr==5.4.5
pexpect==4.6.0
pluggy==0.13.0
portalocker==2.0.0
preshed==3.0.5
promise==2.3
protobuf==3.17.1
psutil==5.5.1
py-rouge==1.1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.16.2
pycparser==2.20
pycups==1.9.73
pydantic==1.7.4
PyGithub==1.43.7
PyGObject==3.36.0
PyHamcrest==1.9.0
pyinotify==0.9.6
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==2.4.6
PyQt5==5.14.1
pyRFC3339==1.1
pyrsistent==0.15.5
pyserial==3.4
pytest==4.6.9
python-apt==2.0.0+ubuntu0.20.4.4
python-dateutil==2.7.3
python-debian===0.1.36ubuntu1
python-gitlab==2.0.1
python-ldap==3.2.0
pytz==2019.3
pyzmq==18.1.1
QtPy==1.9.0
regex==2021.4.4
requests==2.22.0
requests-unixsocket==0.2.0
s3transfer==0.4.2
sacrebleu==1.5.1
sacremoses==0.0.45
scikit-learn==0.22.2.post1
scipy==1.3.3
SecretStorage==2.3.1
sentencepiece==0.1.95
sentry-sdk==1.1.0
service-identity==18.1.0
shortuuid==1.0.1
simplejson==3.16.0
sip==4.19.21
six==1.14.0
smart-open==3.0.0
smmap==4.0.0
sos==4.1
soupsieve==1.9.5
spacy==3.0.6
spacy-legacy==3.0.5
sparse==0.2.0
srsly==2.4.1
ssh-import-id==5.10
stevedore==1.32.0
subprocess32==3.5.4
systemd-python==234
tables==3.6.1
tensorboardX==2.2
thinc==8.0.3
tokenizers==0.10.3
torch==1.8.1
torchvision==0.9.1
tqdm==4.61.0
transformers==4.5.1
typer==0.3.2
typing-extensions==3.7.4.3
ubuntu-advantage-tools==27.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.8
virtualenv==20.0.17
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.4
wadllib==1.3.3
wandb==0.10.31
wasabi==0.8.2
wcwidth==0.1.8
webencodings==0.5.1
word2number==1.1
wrapt==1.11.2
xlrd==1.1.0
xlwt==1.3.0
zipp==1.0.0
zope.interface==4.7.1
